<p>  parent-comp works! </p>
<app-child-comp [customersFromParent]='passDataToChildComponent()' (customerId)='setCustomerId($event)'> </app-child-comp>

<table style="width:100%" border="1px">
  <h1>Customer's Data</h1>
  <tr>
    <!-- <th *ngIf='isIdAvailable'>ID</th> -->
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Contact Number</th>
    <th>Address</th>
    <!-- <th *ngIf='isVerifiedAvailable'>Is Verified?</th> -->
    <th>Is Verified?</th>
  </tr>
  <tr *ngFor = "let customer of customersData">
    <td *ngIf="customer._id !== undefined">{{customer._id}}</td>
    <td *ngIf="customer._id === undefined">N/A</td>
    <td >{{customer.name}}</td>
    <td>{{customer.age}}</td>
    <td>{{customer.contactNum}}</td>
    <td>{{customer.address}}</td>
    <td *ngIf="customer.isVerified !== undefined">{{customer.isVerified}}</td>
    <td *ngIf="customer.isVerified === undefined">N/A</td>
  </tr>
</table>  